<div class="container">
        <div class="box box-register">
            <div class="text-center">
                <h1>Page Not Found!</h1>
                <p class="text-introduction">This page does not exist, or unfortunately no longer exists.</p>
                <em class="bad-route">{{url}}</em>
                <h3><span class="fa fa-lock fa-5x text-danger"></span></h3>
                <hr>
            </div>
            <p><a href="/">Return</a> to profile.</p>
        </div>
</div>